/* Mixins */

@mixin fontSize ($size, $weight) {
    font-size: $size;
    font-weight: $weight;
    
}

.lrycsTitle {
    @include fontSize(2rem,500);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    color: brown;

    &:hover {
       background-color: gray;

    }
}

.lyricsSmall {
    @include fontSize(1rem,100 );
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}

