/* sección de productos*/

.logo {
    width: 30%;
    margin-left: 40%;
    padding: 2%;
}

.card-img-top {
    width: 45%;
    margin-left: 30%;
}

.card-title {
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.card-text {
    text-align: justify;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 7%;
}

.cardButton{
 text-decoration: none;
 position: absolute;
 bottom: 1px;
 margin-left: 35%;
 text-align: center;

 color: brown;
 

 &:hover {
     color: gray;
 }
}