*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-size: 1.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

#ribbon {
    background-color: rgb(96, 92, 92);

    &::after {
        content: '';
        background-color: transparent;
        display: block;
        height: 20px;
        width: 90%;
        margin: 0 auto;
        position: relative;
        left: auto;
        margin-top: -50px;
    }
    
    .imgP {
        width: 10%;
        margin: 2%;

    }
}

#parrafo {
    background-color: rgb(230, 221, 221);
    position: relative;
    margin-top: -20px;
    z-index: 10;
}

.separator-ribbon {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  
  & .content {
      width: 150%;
      height: 150px;
      margin-left: -25%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
  }
}

.card-border {
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;

    &:hover{
        transform: scale(1.05);
    }

    .image{
        width: 100%;

        &:hover{
            border: solid medium brown;
            border-radius: 10%;
            background-color: brown;
        }

    }
}


@import"./galeria";
@import"./productos";
@import"./servicios";
@import "./contacto";
@import"./footer";
