/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}




@import"./index";
@import"./galeria";
@import"./productos";
@import"./servicios";
@import "./contacto";
@import"./mixin";
@import"./footer";

